.DS_Store
build/*
cmake-build-debug/*
.idea/*
.cache/*
.cph/*
*.out
*.bin
*.log
*.cmake
*.make
*.yaml

cmake-build-debug/cmake_install.cmake
Luogu/bin/a.dSYM/Contents/Resources/DWARF/a
Luogu/bin/a.dSYM/Contents/Info.plist
Luogu/build/CMakeFiles/cmake.check_cache
Luogu/build/Makefile
Luogu/build/CMakeFiles/progress.marks
Luogu/build/CMakeFiles/Makefile2
Luogu/build/CMakeFiles/TargetDirectories.txt
Luogu/build/CMakeCache.txt
Luogu/build/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.c
Luogu/build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/*
build/Makefile
build/Makefile
build/.cmake/api/v1/reply/cache-v2-63f9743416bbc6075ff1.json
build/.cmake/api/v1/reply/codemodel-v2-84a226413175383f6c43.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/TargetDirectories.txt
Luogu/bin/a
