.DS_Store
build/*
cmake-build-debug/*
.idea/*
.cache/*
.cph/*
*.out
*.bin
*.log
*.cmake
*.make
*.yaml

cmake-build-debug/cmake_install.cmake
Luogu/bin/a.dSYM/Contents/Resources/DWARF/a
Luogu/bin/a.dSYM/Contents/Info.plist
Luogu/build/CMakeFiles/cmake.check_cache
Luogu/build/Makefile
Luogu/build/CMakeFiles/progress.marks
Luogu/build/CMakeFiles/Makefile2
Luogu/build/CMakeFiles/TargetDirectories.txt
Luogu/build/CMakeCache.txt
Luogu/build/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.c
Luogu/build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
