.DS_Store
build/*
cmake-build-debug/*
.idea/*
.cache/*
.cph/*
*.out
*.bin
*.log
*.cmake
*.make
*.yaml
build/.cmake/*

cmake-build-debug/cmake_install.cmake
Luogu/bin/a.dSYM/Contents/Resources/DWARF/a
Luogu/bin/a.dSYM/Contents/Info.plist
Luogu/build/CMakeFiles/cmake.check_cache
Luogu/build/Makefile
Luogu/build/CMakeFiles/progress.marks
Luogu/build/CMakeFiles/Makefile2
Luogu/build/CMakeFiles/TargetDirectories.txt
Luogu/build/CMakeCache.txt
Luogu/build/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.c
Luogu/build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/*
build/Makefile
build/Makefile
build/.cmake/api/v1/reply/cache-v2-63f9743416bbc6075ff1.json
build/.cmake/api/v1/reply/codemodel-v2-84a226413175383f6c43.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/TargetDirectories.txt
Luogu/bin/a
Codeforces/1873(div4)/bin/a.dSYM/Contents/Info.plist
Codeforces/1873(div4)/bin/a
build/Makefile
build/Makefile
build/.cmake/api/v1/reply/cache-v2-63f9743416bbc6075ff1.json
Codeforces/1873(div4)/.idea/1873(div4).iml
Codeforces/1873(div4)/.idea/modules.xml
Codeforces/1873(div4)/.idea/vcs.xml
.clang-format
build/.cmake/api/v1/reply/index-2024-02-05T08-50-27-0084.json
build/CMakeFiles/TargetDirectories.txt
Codeforces/1873(div4)/.idea/inspectionProfiles/Project_Default.xml
